$green: #00FF98;
$fadegreen: #00bf73;
$darkgreen: #00804D;
$grey: #707070;

/*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Muli*/
@import url("https://use.typekit.net/smd4bxp.css");

*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  background: white;
  color: black;
}
a{
  outline: none;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  #main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 2%);
    #anchor{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      a{
        text-decoration: none;
        padding: 0 5px;
        font-family: 'Poppins', sans-serif;
        color: black;
        transition: 0.2s;
        &:hover{
          color: $darkgreen;
          transition: 0.2s;
        }
      }
    }
  }
}

#first-veiw{
  width: 100vw;
  margin-top: 50px;
  #main-first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    #tagline{
      display: flex;
      flex-direction: column;
      justify-content: center;
      #title{
        h1{
          font-family: "Quicksand", sans-serif;
          font-weight: bold;
          font-size: xxx-large;
          margin: 15px;
        }
        h3{
          font-family: 'Poppins', sans-serif;
          font-weight: normal;
          font-size: x-large;
          margin: 15px;
        }
      }
      a{
        text-decoration: none;
        color: white;
        background: $fadegreen;
        font-family: muli, sans-serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 15px;
        padding: 5px 20px;
        width: max-content;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
        margin: 0 15px;
        transition: 0.2s;
        &:hover{
          background: $darkgreen;
          transition: 0.2s;
        }
      }
    }
  }
}

#team{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("background-equipe.png") no-repeat center;
  background-size: contain;
  padding: 30px 0;
  .title{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h2{
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      font-size: xx-large;
      padding-left: 45px;
    }
    span{
      background: $green;
      height: 5px;
      width: 50px;
      margin-left: 45px;
    }
  }
  #main-team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    width: 70vw;

    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0;
      .teammate{
        padding: 20px;
        background: white;
        border-radius: 15px;
        //box-shadow: 0 3px 6px rgba(0, 0, 0, 10%);
        img{
          border-radius: 15px;
        }
        .name{
          text-align: center;
          h4{
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-size: 20px;
          }
          p{
            font-family: 'muli', sans-serif;
            font-weight: normal;
            font-size: 15px;
          }
        }
      }
    }
  }
}

#echolowtech{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  .title{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      font-size: xx-large;
      padding-left: 45px;
    }
    span{
      background: $green;
      height: 5px;
      width: 50px;
      margin-left: 45px;
    }
  }
  #main-echolowtech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
    width: 100%;
    padding: 30px 0;
    section{
      p{
        span{
          display: block;
          font-family: 'muli', sans-serif;
          font-weight: normal;
          font-size: 18px;
          width: 50vw;
          text-align: justify;
        }
      }
    }
  }
}
#footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 5%);
  #main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    width: 70vw;
    #anchors-footer{
      ul{
        list-style: none;
        li{
          a{
            text-decoration: none;
            padding: 0 5px;
            font-family: 'Poppins', sans-serif;
            color: black;
            transition: 0.2s;
            &:hover{
              color: $darkgreen;
              transition: 0.2s;
            }
          }
        }
      }
    }
    a{
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      color: black;
      transition: 0.2s;
      &:hover{
        color: $darkgreen;
        transition: 0.2s;
      }
    }
  }
}

#contact{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  .title{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      font-size: xx-large;
      padding-left: 45px;
    }
    span{
      background: $green;
      height: 5px;
      width: 50px;
      margin-left: 45px;
    }
  }
  form{
    padding: 30px 0;
    .form-row{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      label{
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 18px;
        padding: 5px 0;
        a, span{
          color: $green;
        }
      }
      input, textarea{
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid lightgray;
        outline: none;
        font-family: 'muli', sans-serif;
        color: black;
        font-size: 18px;
        ::placeholder{
          font-family: 'muli', sans-serif;
          font-size: 18px;
        }
      }
    }
    .form-check{
      flex-direction: row;
      input{
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid lightgray;
        margin-right: 5px;
      }
    }
    button{
      color: white;
      background: $fadegreen;
      font-family: muli, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      border-radius: 15px;
      padding: 5px 20px;
      width: max-content;
      border: none;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        background: $darkgreen;
        transition: 0.2s;
      }
    }
  }
}