/*Quicksand*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Muli*/
@import url("https://use.typekit.net/smd4bxp.css");
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
}

a {
  outline: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#header #main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 45px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
}
#header #main-header img {
  max-width: 70px;
}
@media screen and (max-width: 600px) {
  #header #main-header img {
    width: 100px;
  }
}
#header #main-header #anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header #main-header #anchor a {
  text-decoration: none;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: 0.2s;
}
#header #main-header #anchor a:hover {
  color: #00804D;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  #header #main-header {
    justify-content: center;
  }
  #header #main-header #anchor {
    display: none;
  }
}

#first-veiw {
  width: 100vw;
  margin-top: 50px;
}
#first-veiw #main-first {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}
@media screen and (max-width: 600px) {
  #first-veiw #main-first {
    flex-direction: column;
  }
}
#first-veiw #main-first #tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#first-veiw #main-first #tagline #title h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: xxx-large;
  margin: 15px;
}
#first-veiw #main-first #tagline #title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: x-large;
  margin: 15px;
}
#first-veiw #main-first #tagline a {
  text-decoration: none;
  color: white;
  background: #00bf73;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  padding: 5px 20px;
  width: max-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 15px;
  transition: 0.2s;
}
#first-veiw #main-first #tagline a:hover {
  background: #00804D;
  transition: 0.2s;
}

#echolowtech {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background: url("background-blob.png") no-repeat left;
  background-size: contain;
}
#echolowtech .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#echolowtech .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  padding-left: 45px;
}
#echolowtech .title span {
  background: #00FF98;
  height: 5px;
  width: 50px;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  #echolowtech .title span {
    margin: 0;
    padding: 0;
  }
}
#echolowtech #main-echolowtech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
}
#echolowtech #main-echolowtech section p span {
  display: block;
  font-family: "muli", sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 50vw;
  text-align: center;
  line-height: 20px;
}
@media screen and (max-width: 600px) {
  #echolowtech #main-echolowtech section p span {
    width: 75vw;
    text-align: justify;
  }
}

#highvslow {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
#highvslow .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#highvslow .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  padding-left: 45px;
}
#highvslow .title span {
  background: #00FF98;
  height: 5px;
  width: 50px;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  #highvslow .title {
    align-items: center;
  }
  #highvslow .title h2, #highvslow .title span {
    margin: 0;
    padding: 0;
  }
}
#highvslow #text-lowtech {
  display: block;
  font-family: "muli", sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 50vw;
  text-align: center;
  line-height: 20px;
  padding: 30px 45px;
}
@media screen and (max-width: 600px) {
  #highvslow #text-lowtech {
    text-align: justify;
    width: 75vw;
  }
}
#highvslow #main-highvslow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
@media screen and (max-width: 600px) {
  #highvslow #main-highvslow {
    flex-direction: column;
  }
}
#highvslow #main-highvslow .data-component {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 15px;
  border-radius: 15px;
}
#highvslow #main-highvslow .data-component h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: #00bf73;
  padding: 15px 0;
}
#highvslow #main-highvslow .data-component p {
  font-family: "muli", sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}

#partenaires {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
#partenaires .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#partenaires .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  padding-left: 45px;
}
#partenaires .title span {
  background: #00FF98;
  height: 5px;
  width: 50px;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  #partenaires .title h2, #partenaires .title span {
    margin: 0;
    padding: 0;
  }
}
#partenaires #main-partenaires {
  padding: 30px 0;
  width: 90%;
}
#partenaires #main-partenaires ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  #partenaires #main-partenaires ul {
    flex-direction: column;
  }
}

#team {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("background-equipe.png") no-repeat center;
  background-size: contain;
  padding: 60px 0;
}
#team .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#team .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  padding-left: 45px;
}
#team .title span {
  background: #00FF98;
  height: 5px;
  width: 50px;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  #team .title {
    align-items: center;
  }
  #team .title h2, #team .title span {
    margin: 0;
    padding: 0;
  }
}
#team #main-team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  width: 70vw;
}
#team #main-team .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
@media screen and (max-width: 600px) {
  #team #main-team .row {
    flex-direction: column;
    align-items: center;
  }
}
#team #main-team .row .teammate {
  padding: 20px;
  background: white;
  border-radius: 15px;
}
#team #main-team .row .teammate img {
  border-radius: 15px;
}
#team #main-team .row .teammate .name {
  text-align: center;
}
#team #main-team .row .teammate .name h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
#team #main-team .row .teammate .name p {
  font-family: "muli", sans-serif;
  font-weight: normal;
  font-size: 15px;
}

#contact {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
#contact .title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  padding-left: 45px;
}
#contact .title span {
  background: #00FF98;
  height: 5px;
  width: 50px;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  #contact .title h2, #contact .title span {
    margin: 0;
    padding: 0;
  }
}
#contact form {
  padding: 30px 0;
}
#contact form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#contact form .form-row label {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
  padding: 5px 0;
}
#contact form .form-row label a, #contact form .form-row label span {
  color: #00FF98;
}
#contact form .form-row input, #contact form .form-row textarea {
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid lightgray;
  outline: none;
  font-family: "muli", sans-serif;
  color: black;
  font-size: 18px;
}
#contact form .form-row input ::placeholder, #contact form .form-row textarea ::placeholder {
  font-family: "muli", sans-serif;
  font-size: 18px;
}
#contact form .form-check {
  flex-direction: row;
}
#contact form .form-check input {
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid lightgray;
  margin-right: 5px;
}
#contact form button {
  color: white;
  background: #00bf73;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 15px;
  padding: 5px 20px;
  width: max-content;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.2s;
}
#contact form button:hover {
  background: #00804D;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  #contact form {
    width: 90vw;
  }
}

#footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.05);
}
#footer #main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 70vw;
}
@media screen and (max-width: 600px) {
  #footer #main-footer {
    flex-direction: column;
    align-items: center;
  }
}
#footer #main-footer #anchors-footer ul {
  list-style: none;
}
@media screen and (max-width: 600px) {
  #footer #main-footer #anchors-footer ul {
    margin: 30px 0;
  }
}
#footer #main-footer #anchors-footer ul li a {
  text-decoration: none;
  padding: 0 5px;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: 0.2s;
}
#footer #main-footer #anchors-footer ul li a:hover {
  color: #00804D;
  transition: 0.2s;
}
#footer #main-footer a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: 0.2s;
}
#footer #main-footer a:hover {
  color: #00804D;
  transition: 0.2s;
}

/*# sourceMappingURL=style.css.map */
